<div class="longpost">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title  , options = {:style => "margin-top:10px;font-size:20px"}%><br>
    <%= f.text_field :title ,  options = {:placeholder => "Title"  , :class => "form-control"  ,:style => "width:covre" }%>
  </div>
  <div class="field">
    <%= f.label :content , options = {:style => "margin-top:10px;font-size:20px"}%><br>

    <%= f.text_area :content ,  options = {:placeholder => "Content"  , :class => "form-control"  ,:style => "width:cover; height:100%;resize:vertical", :rows => "10"}%>
  </div>
  <div class="actions" >
    <%= f.submit "Submit" , options = {:class => "btn btn-success" , :id => "button-css" } %>
  </div>
<% end %>
</div>