
<div id = "inner">
    <% @posts.each do |post| %>
        <div id ="blog_post"><b><%= link_to post.title.capitalize , post %> <br> <br> by <%= User.find(post.user_id).name.capitalize %></b> Created: <%= time_ago_in_words post.created_at %> ago Last Updated: <%= time_ago_in_words post.updated_at %> ago</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <% end %>
</div>
<br>

<%= link_to 'New Post', new_post_path %> | <%= link_to 'User Base' , users_path %>

<% if false %>
<td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> %>
<% end %>
