<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<div>
	<table>
		<tr>
			<th>
				Comments
			</th>
		</tr>
		<% @comments.each do |c| %>
		<tr>
			<td>
				<%= c.content %>
				<%= link_to 'Edit' , edit_post_comment_path(@post , c) %> |
				<%= link_to 'Delete Comment' , [@post , c] , data: {confirmation: 'Are You Sure?'} , method: :delete %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
<%= link_to 'Add a Comment' , new_post_comment_path(@post) %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
