 <div id="margin2"></div>

<div align="center">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
      <% end %>

  <div class="field">
    <%= f.label :name , options = {:class => "textdesign"}%><br>
    <%= f.text_field :name , options = {:placeholder => "Username"  , :class => "form-control"  ,:id=>"input_size"}%>
  </div>
  <div class="field">
    <%= f.label :password , options = {:class => "textdesign"}%><br>
    <%= f.password_field :password  , options = {:placeholder => "password"  , :class => "form-control"  ,:id=>"input_size"}%>
  </div>
  <div>
    <%= f.label :password_confirmation , options = {:class => "textdesign"}%><br />
    <%= f.password_field :password_confirmation , options = {:placeholder => "password_confirmation"  , :class => "form-control"  ,:id=>"input_size"} %>
  </div>
  <div class="field">
    <%= f.label :email , options = {:class => "textdesign"} %><br>
    <%= f.text_field :email ,options = {:placeholder => "Email"  , :class => "form-control"  ,:id=>"input_size"} %>
  </div>
  <div class="success">
    <%= f.submit :submit , options = {:class => "btn btn-success" , :id => "button-css"} %>
  </div>
<% end %>
</div>